#cabeceraweb {
    background-color: blue;
    text-align: center;
}

#navegacionprincipal {
    background-color: red;
    height: 30px;
    font-size: 25px;
    text-align: center;
}

#links {
    text-decoration: none;
}

a:link {
    text-decoration: none;
    letter-spacing: 3px;
    word-spacing: 10px;
}

a:hover {
    text-decoration: solid;
}

a:hover,
a:active {
    background-color: red;
}

#foto {
    height: 50%;
    width: 50%;
    border-width: 10px;
    border-style: double;
    border-color: red;
    border-radius: 15px;
}

#barraLateral {
    background-color: purple;
    float: left;
    height: 1028px;
    padding: 0px;
}

#contenidoPrincipal {
    background-color: yellow;
    margin-left: 200px;
    padding: 10px;
}

#form {}

#button-flecha {
    height: 20px;
    width: 20px;
}

#Comentarios {
    height: 300px;
    width: 700px;
    float: left;
}

#table {
    width: 500px;
    background-color: red;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-style: dashed;
    border-color: black;
    border-width: 2px;
    text-align: center;
}

#celdas {
    background-color: chartreuse;
    padding: 5px;
    border-style: dashed;
    border-color: grey;
    border-width: 1px;
}

#Caption {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: blue;
}

#iframe {
    border: none;
    width: 350px;
    height: 200px;
    background-color: blueviolet;
}

#piePrincipal {
    background-color: green;
    clear: both;
    text-align: center;
    height: 70px;
    font-size: larger;
}

li {
    background-color: yellow;
    display: inline;
}